.menu {
  margin: 3.2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menu-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--primary);
  color: var(--text-over-primary);
  padding: 1.2rem;
  border-radius: .8rem;
}

.menu-link:hover {
  filter: brightness(0.8);
  transition: all 0.1s ease-in-out;

}

.menu-link svg {
  width: 2.4rem;
  height: 2.4rem
}